<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.moseswilling.market-scan-pulse</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/miniconda3/bin/python3</string>
    <string>/Users/moseswilling/Documents/New project/send_morning_pulse.py</string>
  </array>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>5</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>

  <key>WorkingDirectory</key>
  <string>/Users/moseswilling/Documents/New project</string>

  <key>StandardOutPath</key>
  <string>/Users/moseswilling/Documents/New project/launchd_morning_pulse.out</string>

  <key>StandardErrorPath</key>
  <string>/Users/moseswilling/Documents/New project/launchd_morning_pulse.err</string>

  <key>RunAtLoad</key>
  <false/>
</dict>
</plist>
